<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<!-- accountName -->
		<add key="accountName" value="admin"/>
		<!-- password -->
		<add key="password" value="xxxxxxx"/>
		<!-- tenantName -->
		<add key="tenantName" value="xxxxxxxx"/>
		<!-- Url -->
		<add key="url" value="https://xxxxxxxx.sharepoint.com/sites/pwa"/>
	</appSettings>

</configuration>